$color-main: #a8bbff;
$color-sub: #d0dbff;
$color-register: #7995f9;

@mixin x-icon($width, $height) {
  color: $color-main;
  width: $width;
  height: $height;
}

@mixin register($size) {
  color: $color-register;
  text-align: center;
  font-size: $size;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3px;
}
